table.pre, pre.fssnip, pre, span.f, span.i {
  background-color: #fff;
  color: #444;
  
}

span.k, span.hljs-keyword {
  color: #0a548b;
}

span.s, span.hljs-string {
  color: #be5221;  
}

span.hljs-title {
  color: #5bc0de;  
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

html.intro body {
	background:url("../images/title.png");
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}
