table.pre, pre.fssnip, pre, span.f, span.i {
  background-color: #fff;
  color: #444;
  
}

span.k, span.hljs-keyword {
  color: #0a548b;
}

span.s, span.hljs-string {
  color: #be5221;  
}

span.hljs-title {
  color: #5bc0de;  
}